{{ if .Title }}
<div class="tc fig">
  <figure>
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
    <figcaption>{{ .Title | emojify | markdownify }}</figcaption>
  </figure>
</div>
{{ else }}<img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />{{ end }}