:root {
  --sans-fontstack: "Iosevka Aile", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif !important;
  --heading-fontstack: "Iosevka Aile", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif !important;
  --mono-fontstack: "Iosevka Extended", "SFMono-Regular", Consolas,
    "Liberation Mono", Menlo, Courier, monospace;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-family: var(--sans-fontstack);
  max-width: 72rem;

  @media print {
    background-image: none !important;
    background-color: none !important;
  }
}

body[class*="tag-"] {
  background: linear-gradient(#ffffff20 0%, #00000020 100%) center center /
      cover fixed,
    var(--color);
  background-blend-mode: overlay !important;

  .breadcrumb-icon {
    background: #ffffff80;
    backdrop-filter: blur(0.1em);
  }
  @media (prefers-color-scheme: dark) {
    &.lum {
      .breadcrumb-icon {
        background: #ffffff80;
      }
      text-shadow: none !important;
    }
  }
}

@media screen and (min-width: 48em) {
  body.dynamic.home {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 1)) fixed,
      url("https://media.giphy.com/media/kHU8W94VS329y/giphy.gif") top center /
        cover no-repeat,
      #000000 center center fixed;
  }

  body.dynamic.fourohfour {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) fixed,
      url("https://media.giphy.com/media/C4NdKtRaQE9m8/giphy.gif") center/cover
        no-repeat fixed,
      black center center fixed;
    background-size: cover;
  }

  body.dynamic.posts {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)) fixed,
      url("https://media.giphy.com/media/x9DVHBmO750Ji/giphy.gif") top center /
        cover no-repeat fixed,
      #000000 center center fixed;
  }

  body.dynamic.snippets {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.975)) fixed,
      url("https://media.giphy.com/media/l2Jefd0mnLxl8GjyE/giphy.gif") top
        center / cover no-repeat fixed,
      #000000 center center fixed;
  }

  body.dynamic.writeups {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95)) fixed,
      url("https://media.giphy.com/media/13rQ7rrTrvZXlm/giphy.gif") top center /
        cover no-repeat,
      #000000 center center fixed;
  }

  body.dynamic.tag-windows {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.95)) fixed,
      url("https://media.giphy.com/media/xT9IgH6tFP7dNVrQAw/giphy.gif") top
        center / cover no-repeat,
      var(--color) center center fixed !important;
    background-blend-mode: normal !important;
  }

  body[data-background] {
    background: var(--background);
  }

  body[data-color] {
    color: var(--color);
  }

  @media (prefers-reduced-motion: reduce) {
    body.home,
    body.fourohfour,
    body.posts,
    body.snippets,
    body.writeups,
    body.tag-windows,
    body[data-background] {
      background: #000 !important;
    }
  }
}

@media screen and (max-width: 48em) {
  .f-headline {
    font-size: 3rem !important;
  }
  .f-subheadline {
    font-size: 2.5rem !important;
  }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
  .f-headline {
    font-size: 4.5rem !important;
  }
  .f-subheadline {
    font-size: 3.75rem !important;
  }
}

body.tags {
  background-blend-mode: multiply;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) fixed,
    var(--color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

  &.lum {
    color: #181818;
  }

  &.tag-windows {
    @media (prefers-color-scheme: dark) {
      * {
        font-family: "Fixedsys", "PxPlus IBM VGA9", var(--mono-fontstack) !important;
      }

      img {
        image-rendering: pixelated;
        filter: url("/img/f.svg#pixel");
      }

      #breadcrumbs span:last-child::after {
        content: "";
        height: 1rem;
        width: 1ch;
        border-radius: 0.05em;
        background: white;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1ch;
        animation: blink 1s infinite;
      }
    }
  }
}

.lh-page-title {
  line-height: 2;
}

img {
  max-width: 100%;
  display: block;

  &:not([class]) {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
  }
}

div.fig figure {
  // border: 0.15em solid;
  overflow: hidden;
  color: inherit;
  display: inline-block !important;

  img {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    counter-increment: figures;
    border-radius: 0.25em;
  }

  figcaption {
    padding: 0.5rem 0rem;
    // border-top: 0.15em solid;
    // margin: 0.5rem 0;
    font-size: 0.75em;
    line-height: 1.35;
    text-align: left;
    &:before {
      content: "Figure " counter(figures) ": ";
      font-style: italic;
      font-weight: bold;
      letter-spacing: -0.05em;
    }
  }
}

.n {
  color: inherit !important;
}

.htb {
  color: #9acc14 !important;
}

.pillbox {
  overflow-wrap: break-word;
  overflow: auto;
}

.pillbox.points {
  color: #438bff;
}

.pillbox.flag {
  color: #80ff00;
}

.sans-serif {
  font-family: var(--sans-fontstack) !important;
}

.heading {
  font-family: var(--heading-fontstack);
  font-weight: bold !important;
}

a[title="home"] {
  .breadcrumb-icon {
    transition: background 0.3s, box-shadow 0.3s;
  }
}

a[title="home"]:focus-visible {
  outline: 0 !important;

  &::after {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    .breadcrumb-icon {
      box-shadow: 0 0 0 0.15em currentColor, inset 0em 0em 0em 0em currentColor;
      // box-shadow: 0 0 0em 0.25em currentColor;
      background: #fffa;
      backgrond-blend-mode: overlay;
    }
  }

  @media (prefers-color-scheme: light) {
    .breadcrumb-icon {
      box-shadow: 0 0 0 0.15em blue, inset -0em -0em 0em 0em transparent;
    }
  }
}

.breadcrumb-icon {
  background: white;
  box-shadow: 0.15em 0.15em 0.5em 0 rgba(0, 0, 0, 0.2),
    inset -0em -0em 0.2em 0em rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0.2em 0.35em 0.75em 0 rgba(0, 0, 0, 0.25),
      inset -0em -0em 0.2em 0em rgba(0, 0, 0, 0);
  }

  &:active {
    box-shadow: 0.1em 0.15em 0.35em 0 rgba(0, 0, 0, 0.025),
      inset 0.1em 0.1em 0.2em 0.05em rgba(0, 0, 0, 0.25);
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  /* border-radius: 4px; */
}

p > code,
li > code,
label > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code,
figcaption > code {
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
  /* box-shadow: 0 1px 4px rgba(127,127,127, 0.2); */
  border-bottom: 2px solid rgba(127, 127, 127, 0.2);
  padding: 0px 4px;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 0px;
  vertical-align: inherit;
  opacity: 0.85;
  font-size: 0.85em;
  letter-spacing: 0 !important;
  position: relative;
  top: -0.085em;

  @media (prefers-color-scheme: light) {
    background-color: #f8f8f8;
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: normal;
  word-wrap: normal;
  overflow-x: visible;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.15);
}

article {
  counter-reset: figures;
}

article hr {
  border: 0px solid transparent;
  border-bottom: 2px solid rgba(127, 127, 127, 0.25);
  margin: 1.25rem 0;
  mix-blend-mode: screen;
}

article blockquote {
  /* border: 2px solid; */
  margin: 0;
  padding-left: 1rem;
  border-left: 0.15rem solid;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  position: relative;
  padding-right: 1.25rem;
  letter-spacing: -0.025em;
  font-family: var(--heading-fontstack);
}

#main h1 {
  position: relative;

  & span.writeup-year {
    border-radius: 0.35rem;
    background: white;
    color: black;

    @media (prefers-color-scheme: dark) {
      background: yellow;
      color: black;
    }

    @media (prefers-color-scheme: light) {
      background: yellow;
      color: #383838;
    }

    @media screen and (min-width: 48em) {
      z-index: 3000;
      margin-left: 0.25em;
      letter-spacing: 0 !important;
      padding: 0 0.25em;
    }

    @media screen and (max-width: 48em) {
      margin-left: 0.25em;
      padding: 0 0.15em;
    }
  }
}

article a.ha {
  margin-left: 0.25em;
  text-decoration: none;
  color: inherit;
  opacity: 0;
  display: inline-block;
  transition: 0.3s opacity ease-in-out;
  position: absolute;
  right: 0;
  top: 0;

  @media screen and (max-width: 48em) {
    opacity: 0.25;
  }
}

.code,
code {
  font-family: var(--mono-fontstack) !important;
}

article:hover a.ha {
  opacity: 0.25;
}

article a.ha::before {
  content: "#";
}

article a.ha:hover {
  opacity: 0.5;
}

article table:not([class]) {
  width: 100%;
}

abbr[title] {
  padding: 0rem 0;
  text-decoration: none !important;
  border-bottom: 0.15em dotted !important;
}

.meta {
  font-size: 1.2rem;
  font-family: var(--mono-fontstack);

  .dat {
    font-weight: bold;
    & em {
      opacity: 0.5;
      font-size: 0.9em;
      vertical-align: baseline;
      font-style: normal;
      letter-spacing: -1px;
      font-weight: bold;
      user-select: none;
      margin-right: 0.35em;
      &:before {
        content: ".";
        margin-right: 0.1em;
      }
    }

    &:after {
      content: "";
    }
  }

  .attrs {
    display: flex;
    // align-items: center;
    // text-align: center;
    //
    @media (max-width: 48rem) {
      flex-direction: column;
    }
  }

  @media (prefers-color-scheme: dark) {
    .dat {
      opacity: 0.95;
    }

    .description {
      opacity: 0.75;
    }

    .table-of-contents {
      details:not([open]) summary::after,
      #TableOfContents::after,
      summary span {
        opacity: 0.5;
      }

      @media print {
        display: none;
      }
    }
  }
}

#TableOfContents {
  display: inline-block;
  font-family: var(--sans-fontstack);
  text-overflow: ellipsis;
  line-height: 1.75;
}

details:not([open]) summary::after {
  content: "...</table-of-contents>";
  font-family: var(--mono-fontstack);
  font-weight: bold;
}

details[id="toc"] {
  transition: opacity 0.2s ease-in-out;
}

details[id="toc"]:not([open]):hover {
  opacity: 0.5;
}

summary.toc {
  cursor: pointer;
  font-family: var(--mono-fontstack);
  font-weight: bold;
  user-select: none;
  outline: 0;
}

/* summary.toc::before { */
/*   font-family: "Fira Code", monospace; */
/*   content: ""; */
/*   display: inline-block; */
/*   margin-bottom: 0em; */
/*   opacity: 0.5; */
/* } */

summary.toc::marker {
  color: #888;
}

#TableOfContents::after {
  content: "</table-of-contents>";
  font-family: var(--mono-fontstack);
  font-weight: bold;
  display: block;
  margin-top: 0em;
}

#TableOfContents ul {
  list-style: none;
  font-size: 0.85rem;
  padding-left: 1.15em;
  font-family: var(--mono-fontstack);
  border-left: 1px rgba(128, 128, 128, 0.25) dotted;
}

#TableOfContents > ul {
  padding-left: 1.15em;
  margin-top: 0;
  letter-spacing: -0.0125em;
  margin-bottom: 0;
}

#TableOfContents ul li::before {
  content: "∙ ";
  font-family: var(--mono-fontstack);
  margin-left: -0.25em;
  font-weight: bold;
  color: #f92672;
}

#TableOfContents ul li {
  line-height: 1.25;
  margin: 0.75rem 0;
}

#TableOfContents ul li:empty {
  display: none;
}

#TableOfContents ul li li::before {
  color: #66d9ef;
}
#TableOfContents ul li li li::before {
  color: #a6e22e;
}
#TableOfContents ul li li li li::before {
  color: #a6e;
}
#TableOfContents ul li li li li li::before {
  color: #f92;
}
#TableOfContents ul li li li li li li::before {
  color: #66d;
}

#TableOfContents li a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  font-family: var(--heading-fontstack);
  font-weight: 500;
  text-overflow: ellipsis;
}

#TableOfContents li a:hover {
  opacity: 0.75;
}

.footnotes::before {
  content: "footnotes";
  font-family: var(--heading-fontstack);
  font-weight: bold;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  padding-bottom: 0.25em;
  padding-left: 1em;
  border-bottom: 0.05rem solid;
  display: block;
}

.footnotes {
  background-color: rgba(128, 128, 128, 0.1);
  // backdrop-filter: blur(1rem);
  font-size: 0.75rem;
  margin-top: (3 * 1.68rem);
  border-radius: 0.25rem;
  transition: opacity 1s ease;
  // opacity: 0.5;
  padding: 1rem 0;
  border: 0.05rem solid currentColor;
  color: inherit;
  position: relative;

  [role="doc-endnote"] {
    margin-bottom: 1rem;

    p {
      line-height: 1.35em !important;
      margin-bottom: 0.35rem;
      margin-top: 0.35rem;
      margin-left: 0.5rem;
      margin-right: 1rem;

      p:first-child {
        margin-top: 0;
      }
    }
  }

  div.highlight {
    margin: 0.5rem 0;
    margin-right: 1rem;
  }

  ol {
    list-style: decimal;
    margin-left: 0.25rem;
  }

  li {
    counter-increment: counter;
  }

  li::marker {
    // font-weight: bold;
    content: "[" counter(counter) "]";
    text-align: left;
    font-family: var(--mono-fontstack);
  }

  hr {
    display: block;
    position: relative;
    top: -6.25rem;
    border-color: rgba(127, 127, 127, 1);
    mix-blend-mode: normal;
    width: 5rem;
    margin: 0 auto;
    opacity: 0.25;
    margin-bottom: -0.65rem;
    border-width: 0.05rem;
    border-top: none;
  }
}

.footnotes:hover,
.footnotes:focus-within {
  opacity: 1;
}

a.footnote-ref {
  margin: 0 0.1em;
  color: inherit;
  text-decoration: none;
}

a.footnote-ref:visited {
  color: rgb(214, 89, 214);
}

a.footnote-ref:focus-visible::before,
a.footnote-ref:focus-visible::after {
  content: "";
}

a.footnote-ref:focus-visible {
  padding: 0em 0.55em;
  display: inline;
}

a.footnote-ref:focus-visible::after {
  display: inline-block;
  left: -0em;
  right: -0em;
}

a.footnote-ref::before {
  content: "[";
}

a.footnote-ref::after {
  content: "]";

  &:focus-visible {
    display: none;
  }
}

twitter-widget {
  margin: 0 auto;
}

.blockquote-shortcode {
  position: relative;
  max-width: calc(100% - 5rem);
  line-height: 1em !important;
  margin: 1rem 0 !important;
}

blockquote.blockquote-shortcode {
  border-left: none;
  margin-bottom: 1.5rem !important;
}

.blockquote-shortcode p {
  display: inline-block;
  text-align: left;
  margin-bottom: 0 !important;
  line-height: 1.65em !important;
}

.blockquote-shortcode cite {
  user-select: none;
}

.blockquote-shortcode p::before {
  content: "\201c";
  font-family: sans-serif;
  position: absolute;
  font-size: 5rem;
  line-height: 0;
  top: 2rem;
  left: -0.5em;
  opacity: 0.2;
}

.blockquote-shortcode p::after {
  content: "\201d";
  font-family: sans-serif;
  position: absolute;
  font-size: 5rem;
  line-height: 0;
  bottom: 1rem;
  right: -0.5em;
  opacity: 0.2;
}

.no-select {
  user-select: none;
}

pre,
code {
  font-family: var(--mono-fontstack);
  font-variant-ligatures: contextual;
  font-feature-settings: "calt" 1;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: fade-out(yellow, 0.35);
  color: black;
}

a:focus-visible,
summary:focus-visible {
  position: relative;
  opacity: 1 !important;

  @media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
    // color: cyan !important;
    outline: 0 !important;
    border-color: transparent !important;
    // outline: 0.05em currentColor solid !important;
    // border: 0.05em currentColor solid !important;

    &::after {
      content: "" !important;
      position: absolute;
      top: -0.1em;
      right: -0.1em;
      left: -0.1em;
      bottom: -0.1em;
      border-radius: 0.2em;
      opacity: 0.35;
      background: currentColor;
      border: 2px solid currentColor;
    }
  }

  @media (prefers-color-scheme: light) {
    color: blue !important;
    outline: 0 !important;
  }
}

:link {
  color: rgb(98, 177, 241);
}

:visited {
  color: rgb(214, 89, 214);
}

:target::before {
  content: "";
  display: block;
  position: relative;
  margin-top: -1em;
  height: 1em;
}

:target a.ha {
  top: 1em;
}

:target::after {
  margin-left: 0.25em;
  font-family: sans-serif;
  content: "\1F448";
  background: none;
  color: black;
  // box-shadow: 0.025em 0.025em 0.05em 0.02em rgba(0, 0, 0, 0.2);
  // line-height: 1;
  height: 1.05em;
  bottom: 0.15em;
  width: 0;
  border-radius: 0.15em;
  text-align: center;
  display: inline-block;
  animation: arrow 1.5s ease-in-out;
  animation-delay: 0.4s;
  position: absolute;
  opacity: 0;
}

[role="doc-endnote"]::before {
  display: none;
}

sup:target::before,
sup:target::after {
  display: none;
}

[role="doc-endnote"] {
  position: relative;

  &:target::after {
    display: none;
  }

  &:target::marker {
    color: #fff200;
    font-weight: bold;
  }
}

#archive-list {
  h2 {
    color: #888;
    text-transform: uppercase;
    letter-spacing: 0.15em;

    &:target {
      color: yellow;
      &:after {
        display: none;
      }
    }
  }

  ul {
    list-style: none;
  }

  ul li::marker {
    content: "";
  }

  @media (max-width: 32rem) {
    ul {
      padding-left: 0.5rem;
    }

    ul li {
      padding-left: 0.5rem;
    }

    ul li::marker {
      content: "×";
    }
  }
}

ul.pagination {
  margin: 0 auto;
  display: block;
  padding-left: 0;
  text-align: center;
  font-family: var(--mono-fontstack);

  .page-item {
    display: inline-block;

    &:first-child,
    &:last-child {
      display: none;
    }

    & {
      .page-link {
        padding: 0.4em;
      }
    }

    &.active {
      .page-link {
        border: 1px solid;
      }
    }

    &.disabled {
      opacity: 0.35;
      cursor: not-allowed;
      user-select: none;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

div.pagination {
  display: grid;
  width: 100%;
  border-top: 0.1em dashed rgba(128, 128, 128, 0.2);
  padding-top: 2rem;
  justify-items: stretch;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 0.75rem;
  font-family: var(--sans-fontstack);
  grid-template-areas: "prev number next";

  a {
    text-decoration: none;
    color: unset;
  }

  .brd {
    user-select: none;
    border-color: rgba(255, 255, 255, 0.25);
    @media (prefers-color-scheme: light) {
      box-shadow: 0.1em 0.1em 0.35em rgba(0, 0, 0, 0.25);
      border-color: #aaa;
    }
  }

  .number {
    grid-area: number;
    text-align: center;
  }

  .prev {
    grid-area: prev;
    text-align: left;
  }

  .next {
    grid-area: next;
    text-align: right;
  }

  &.in-post {
    position: relative;

    .left {
      grid-area: prev;
      text-align: left;
    }

    .right {
      grid-area: next;
      text-align: right;
    }

    .left a::before,
    .right a::before {
      font-size: 4rem;
      font-family: var(--heading-fontstack);
      letter-spacing: -0.075em;
      font-weight: bold;
      position: absolute;
      transition: opacity 0.2s ease-in-out;
      opacity: 0.1;
      top: 0;
      z-index: -200;

      @media (max-width: 48rem), (prefers-color-scheme: light) {
        display: none;
      }
    }

    .left a,
    .right a {
      padding-bottom: 0.2em;
      border-bottom: 0.1em solid transparent;
      position: relative;

      &::before {
        content: attr(data-label);
        user-select: none;
        pointer-events: none;
        transition: opacity 0.15s ease-in;
        top: -0.5em;
      }

      &:focus-visible::before {
        // display: none;
      }

      &:hover::before {
        opacity: 0.25;
        // font-size: 1.5rem;
      }
    }

    .left a::before {
      left: 0;
    }

    .right a::before {
      right: 0;
    }

    .right a::after,
    .left a::after {
      position: absolute;
      top: 0;
    }

    .left a::after {
      content: "\2190";
      left: 0;
    }

    .right a::after {
      content: "\2192";
      right: 0;
    }
  }

  @media print {
    display: none;
  }
}

@keyframes arrow {
  0%,
  50%,
  100% {
    margin-left: 0.25em;
  }

  25%,
  75% {
    margin-left: 0.5em;
  }

  15%,
  80% {
    opacity: 1;
    width: 1.1em;
  }

  0%,
  100% {
    opacity: 0;
    width: 0;
  }
}

.term {
  color: var(--color) !important;

  &:focus-visible {
    color: inherit !important;
  }
}

.menu.list {
  li {
    // clip-path: padding-box inset(0.1em 0 -0.5em 0);
  }
}

.submenu {
  mix-blend-mode: screen;
  border-radius: 0.25rem 0 0 0;
  font-family: var(--mono-fontstack);
}

.tailmeta .o-40,
.tailmeta .o-50 {
  transition: 0.25s opacity;
}

.tailmeta:focus-within .o-50,
.tailmeta:hover .o-50,
.tailmeta:focus-within .o-40,
.tailmeta:hover .o-40 {
  opacity: 1 !important;
}

.tags {
  .tag {
    background: #8884;
  }
}

footer {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;

  @media (max-width: 36rem) {
    flex-direction: column;
    align-items: flex-start;

    & div {
      margin-top: 1rem;
    }
  }

  &:hover,
  &:focus-within {
    opacity: 1;
  }

  // & input[type="search"] {
  //   background: #8882;
  //   appearance: none;
  //   font-family: var(--heading-fontstack);
  //   width: 12em;
  //   color: inherit;
  //   font-size: 0.75rem;
  //   border: 0em transparent solid;
  //   border-radius: 0.25em;
  //   padding: 0.85em;

  //   &:focus-visible {
  //     outline: 0;
  //     background: #fff;
  //     color: #000;
  //     border: 0em currentColor solid;
  //   }

  //   &::placeholder {
  //     text-align: center;
  //   }
  // }
}

@media (prefers-color-scheme: light) {
  html,
  html body {
    // background-color: #eee;
    background: radial-gradient(circle at 0 0, #f5f5f5, #d8d8d8) center center /
        cover no-repeat fixed,
      #888 fixed !important;

    @media screen and (max-width: 48em) {
      background: #f0f0f0 fixed !important;
    }

    @media print {
      background: none !important;
    }
  }

  body {
    color: #383838 !important;
  }

  body.tags {
    text-shadow: none !important;
    background: none !important;
  }

  .n {
    mix-blend-mode: normal;
  }

  :link {
    color: rgb(18, 101, 253);
  }

  :visited {
    color: rgb(145, 0, 145);
  }

  .term {
    /* border: 1px solid var(--color); */
    color: black !important;
    display: inline-block;
    padding: 0rem 0.35rem;
    border-radius: 0.4rem;
  }

  *.moon-gray {
    color: #000000 !important;
  }
  *.white {
    color: #383838 !important;
  }
  *.bg-black {
    background-color: #dddddd;
  }

  .htb {
    color: #0a3 !important;
  }

  .submenu {
    mix-blend-mode: multiply;
    border-radius: 4px 4px 6px 4px;
    border: 0.125rem solid;
    border-left: 1px solid !important;
    background-color: white;
    border-top: 1px solid !important;
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    /* color: inherit !important; */
  }

  pre {
    color: white;
  }

  code {
    color: inherit !important;
  }

  p > code {
    mix-blend-mode: multiply;
  }

  .pillbox.flag {
    color: #00b346;
  }

  .pillbox.points {
    color: #1f75fe;
  }
}
