.ctf-challenge {
  margin-bottom: 4.05rem;
  background-attachment: fixed;
  // background-image: repeating-linear-gradient(
  //     46deg,
  //     transparent 0 20px,
  //     rgba(128, 128, 128, 0.1) 0px 100px,
  //     transparent 20px 200px
  //   ),
  //   repeating-linear-gradient(
  //     43deg,
  //     transparent 0 20px,
  //     rgba(128, 128, 128, 0.05) 0px 120px,
  //     transparent 50px 140px
  //   );
  margin-top: 0;
  padding: 0.5rem 1rem;
  margin: 0 -1rem;

  @media (min-width: 48rem) and (prefers-color-scheme: light) {
    box-shadow: 0.2rem 0.2rem 1rem #44444420;
  }

  .contents {
    margin-top: -2.37rem;
  }

  p > span.label,
  span.label.top {
    display: inline-block;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-top: 2.52rem;
    margin-bottom: -0.84rem;
    border-bottom: 0.15em solid;
    font-style: italic;
    opacity: 0.65;
  }

  span.label.top {
    margin-top: 0;
  }

  div.stats {
    margin-bottom: 1.26rem;
  }

  span.label + p > strong {
    margin-top: 0;
    margin-bottom: 0;
  }

  .flag,
  .points {
    box-shadow: 0.1em 0.2em 0.25em #2222, inset 0.1em 0.2em 0.15em #2222;
  }
}