html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

.grt {
  position: relative;
}

.grt h1 {
  font-size: 33px;
  margin-top: 1.68em;
  line-height: 1.25;
  margin-bottom: 0.42em;
}

.grt h2 {
  font-size: 26px;
  margin-top: 2.52em;
  line-height: 1.25;
  margin-bottom: 0.84em;
}
.grt h3 {
  font-size: 20px;
  margin-top: 2.52em;
  line-height: 1.25;
  margin-bottom: 12px;
}
.grt h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 7px;
}
.grt p,
.grt ul,
.grt ol,
.grt blockquote,
.grt .alert,
.grt .note,
.grt .box,
.grt .footnotes {
  margin-bottom: 1.68em;
  line-height: 1.65rem;
}

.grt .title {
  font-size: 42px;
  margin-bottom: 30px;
}

.grt p {
  margin-bottom: 1.26rem;

  @media (min-width: 64rem) {
    margin-bottom: 1.86rem;
    line-height: 1.5rem;
  }
}

.grt blockquote p {
  margin-bottom: 0rem;
}

@media screen and (max-width: 40em) {
  .grt ul {
    padding-left: 20px;
  }
}

.grt sub,
.grt sup {
  padding: 0 1px;
}
.grt kbd {
  font-size: 15px;
}
.grt kbd {
  background-color: #fff;
  padding: 3px 4px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.45);
  margin: 0 1px;
}
.grt .alert,
.grt .note,
.grt .box {
  padding: 19px;
}

.grt label {
  margin-bottom: -1em;
  display: block;
}

.grt .caption {
  margin-top: -1.5em;
  display: block;
  font-size: 0.65em;
}

.grt p:empty code:only-child {
  display: inline-block;
  margin-bottom: -0.5em;
}

.grt ul ul,
.grt ul ol,
.grt ol ul,
.grt ol ol,
.grt blockquote.right p,
.grt blockquote.left p,
.grt .alert :last-child,
.grt .note :last-child,
.grt .box :last-child,
.grt .footnotes :last-child {
  margin-bottom: 0;
}
@media all and (min-width: 1060px) {
  .grt {
    padding: 0px 0;
  }
}

.grt .twitter-tweet {
  margin: 0 auto !important;
}

.grt blockquote {
  word-break: break-word;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.68rem;
  }
}

.grt table {
  margin-bottom: 1.68rem;
  border-radius: 0.25rem;
  border: 1px solid #8883;
  max-width: 100%;
  border-spacing: 0;

  th {
    background-color: rgba(128, 128, 128, 0.8);
    border-bottom: 1px solid #8883;
    position: sticky;
    top: 0;

    @media (prefers-color-scheme: dark) {
      background-color: #000d;
    }
    @media (prefers-color-scheme: light) {
      background-color: #dddd;
    }
  }

  th,
  td {
    padding: 0.25rem 0.5rem;
  }

  code {
    padding: 0;
  }
}

.grt div.highlight + blockquote, .grt pre.chroma + blockquote {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 0.65rem;
  border-left: 0px solid transparent;

  margin: 0;
  margin-top: -2.25rem;
  padding: 0.75em 9.5px 0.5em;
  border-radius: 0.4em;
  box-shadow: inset 0.15em 0.15em 0.5em #2223;
  background: #8881;

  & > p:first-child::before {
    content: "Explanation: ";
    display: inline;
    font-weight: bold;
  }

  p {
    margin-top: 0.5em;
    line-height: 1.25em;
  }

  *:last-child {
    margin-bottom: 0.25em;
  }
}