// a[href*="//"]:not([href*="0ketz.gitlab.io"]) {
//   position: relative;
// }

// a[href*="//"]:not([href*="0ketz.gitlab.io"]):hover:after {
//     content: "\21e2";
//     // margin-left: 0.25em;
//     right: 0;
//     bottom: 0.45em;
//     position: relative;
//     background: inherit;
//     transform: rotateZ(-45deg);
//     text-decoration: none;
//     display: inline-block;
// }