/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

pre {
  // position: relative;
  font-size: 0.8rem;
  overflow-x: auto;

  @media (prefers-color-scheme: dark) {
    background: #222;
  }

  @media (prefers-color-scheme: light) {
    background: #f8f8f8;
  }
}

body[data-background] pre {
  // background: #000;
  border: 0px solid transparent;
}

pre code {
  padding: 0em;
}

table code[data-lang] {
  padding: 0.5rem 0 !important;
}

table code[data="lang"] > p code {
  padding: 0 !important;
  background: yellow;
}

code[data-lang] {
  display: block;
  overflow-x: visible;
  width: 100%;
  padding: 0.5rem !important;

  &::before {
    content: attr(data-lang);
    position: absolute;
    display: inline-block;
    font-size: 0.65rem;
    text-align: center;
    top: 0em;
    right: 0em;
    background: #888888ff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0.25em 0.65em;
    line-height: 1.35;
    border-radius: 0 0.2em 0 0.2em;

    @media (prefers-color-scheme: light) {
      background: #eeeb;
      border-color: #0002;
    }
    @media (prefers-color-scheme: dark) {
      background: #222b;
      border-color: #fff2;
    }
  }
}

p code[data-lang] {
  display: block;
  overflow-x: visible;
  width: 100%;
  padding: 0.5rem !important;

  &::before {
    content: attr(data-lang);
    position: absolute;
    display: inline-block;
    font-size: 0.65rem;
    text-align: center;
    top: 0em;
    right: 0em;
    background: #888888ff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0.25em 0.65em;
    line-height: 1.35;
    border-radius: 0 0.2em 0 0.2em;

    @media (prefers-color-scheme: light) {
      background: #eeeb;
      border-color: #0002;
    }
    @media (prefers-color-scheme: dark) {
      background: #222b;
      border-color: #fff2;
    }
  }
}

code[data-lang="fallback"]::before {
  display: none;
}

.language-none {
  color: inherit !important;
}

.highlight table,
.chroma table.lntable {
  width: 100%;
  table-layout: auto;
  border-radius: 4px;
}

.highlight {
  line-height: 1.5;
  position: relative;
}

.highlight div.chroma {
  border-radius: 4px;
}

.highlight > div.chroma {
  // background: #000 !important;
  border: 1px solid rgba(128, 128, 128, 0.15);
  overflow: auto;

  & pre.chroma {
    line-height: 1.25rem;
    overflow: visible;
  }

  & table tbody tr td:last-child {
    overflow: visible;
  }
}

.highlight > pre.chroma {
  border: 1px solid rgba(128, 128, 128, 0.15);
  overflow: auto;
  padding-right: 0.5em;
}

.highlight table tr {
  width: 100%;
}

.highlight table td {
  overflow: visible;
}

.highlight table tr td:first-of-type span.lnt {
  // width: 2.75em;
}

.highlight table tr td:last-of-type {
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
}

.highlight div.chroma table.lntable tbody {
  display: block;
  margin: 0em !important;
  line-height: 1.5em !important;
}

.highlight .lntd:first-child {
  padding-left: 0.5em;

  span.lnt {
    padding-left: 0em;
  }

  span.hl span.lnt {
    font-weight: bold;
    @media (prefers-color-scheme: dark) {
      color: yellow;
    }
    @media (prefers-color-scheme: light) {
      color: black;
    }
  }
}

.highlight .lntd:last-child {
  pre.chroma {
    padding-right: 0.5em;
    span.hl {
      box-sizing: border-box;
      padding-right: 20px;
    }
  }
}

div.highlight > pre.chroma {
  padding: 0;

  & code {
    box-sizing: border-box;
    padding: 0px 9.5px;
    line-height: 1.5;
  }
}

// .highlight table {
//   padding: 0 0.5rem !important;
// }

// div.highlight div.chroma table.lntable {
//   overflow: auto;
// }

td pre {
  border-radius: 0;
  margin: 0;
  padding: 0;
}

td pre.chroma {
  border: none;
  margin-bottom: 0;
  padding: 0;
}

div.highlight {
  margin: 1rem 0;
  background-color: #222;
  border-radius: 4px;
  margin-bottom: 1.68rem;
}

/* Background */
.chroma {
  color: #ddd;
}
/* Error */
.chroma .err {
  color: #960050;
  background-color: #1e0010;
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: middle;
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  display: block;
}
/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #2c2c2c;
  color: inherit;
  font-style: italic;
  color: yellow;
}
/* LineNumbersTable */
.chroma .lnt {
  display: block;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #555;
  user-select: none;
  text-align: right;
}
/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #555;
}
/* Keyword */
.chroma .k {
  color: #66d9ef;
}
/* KeywordConstant */
.chroma .kc {
  color: #66d9ef;
}
/* KeywordDeclaration */
.chroma .kd {
  color: #66d9ef;
}
/* KeywordNamespace */
.chroma .kn {
  color: #f92672;
}
/* KeywordPseudo */
.chroma .kp {
  color: #66d9ef;
}
/* KeywordReserved */
.chroma .kr {
  color: #66d9ef;
}
/* KeywordType */
.chroma .kt {
  color: #66d9ef;
}
/* NameAttribute */
.chroma .na {
  color: #a6e22e;
}
/* NameClass */
.chroma .nc {
  color: #a6e22e;
}
/* NameConstant */
.chroma .no {
  color: #66d9ef;
}
/* NameDecorator */
.chroma .nd {
  color: #a6e22e;
}
/* NameException */
.chroma .ne {
  color: #a6e22e;
}
/* NameFunction */
.chroma .nf {
  color: #a6e22e;
}
/* NameOther */
.chroma .nx {
  color: #a6e22e;
}
/* NameTag */
.chroma .nt {
  color: #f92672;
}
/* Literal */
.chroma .l {
  color: #ae81ff;
}
/* LiteralDate */
.chroma .ld {
  color: #e6db74;
}
/* LiteralString */
.chroma .s {
  color: #e6db74;
}
/* LiteralStringAffix */
.chroma .sa {
  color: #e6db74;
}
/* LiteralStringBacktick */
.chroma .sb {
  color: #e6db74;
}
/* LiteralStringChar */
.chroma .sc {
  color: #e6db74;
}
/* LiteralStringDelimiter */
.chroma .dl {
  color: #e6db74;
}
/* LiteralStringDoc */
.chroma .sd {
  color: #e6db74;
}
/* LiteralStringDouble */
.chroma .s2 {
  color: #e6db74;
}
/* LiteralStringEscape */
.chroma .se {
  color: #ae81ff;
}
/* LiteralStringHeredoc */
.chroma .sh {
  color: #e6db74;
}
/* LiteralStringInterpol */
.chroma .si {
  color: #e6db74;
}
/* LiteralStringOther */
.chroma .sx {
  color: #e6db74;
}
/* LiteralStringRegex */
.chroma .sr {
  color: #e6db74;
}
/* LiteralStringSingle */
.chroma .s1 {
  color: #e6db74;
}
/* LiteralStringSymbol */
.chroma .ss {
  color: #e6db74;
}
/* LiteralNumber */
.chroma .m {
  color: #ae81ff;
}
/* LiteralNumberBin */
.chroma .mb {
  color: #ae81ff;
}
/* LiteralNumberFloat */
.chroma .mf {
  color: #ae81ff;
}
/* LiteralNumberHex */
.chroma .mh {
  color: #ae81ff;
}
/* LiteralNumberInteger */
.chroma .mi {
  color: #ae81ff;
}
/* LiteralNumberIntegerLong */
.chroma .il {
  color: #ae81ff;
}
/* LiteralNumberOct */
.chroma .mo {
  color: #ae81ff;
}
/* Operator */
.chroma .o {
  color: #f92672;
}
/* OperatorWord */
.chroma .ow {
  color: #f92672;
}
/* Comment */
.chroma .c {
  color: #75715e;
}
/* CommentHashbang */
.chroma .ch {
  color: #75715e;
}
/* CommentMultiline */
.chroma .cm {
  color: #75715e;
}
/* CommentSingle */
.chroma .c1 {
  color: #75715e;
}
/* CommentSpecial */
.chroma .cs {
  color: #75715e;
}
/* CommentPreproc */
.chroma .cp {
  color: #75715e;
}
/* CommentPreprocFile */
.chroma .cpf {
  color: #75715e;
}
/* GenericDeleted */
.chroma .gd {
  color: #f92672;
}
/* GenericEmph */
.chroma .ge {
  font-style: italic;
}
/* GenericInserted */
.chroma .gi {
  color: #a6e22e;
}
/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}
/* GenericSubheading */
.chroma .gu {
  color: #75715e;
}

@media (prefers-color-scheme: light) {
  pre,
  .highlight table,
  .chroma table.lntable,
  body[data-background] pre {
    color: #272822;
    border-color: #dddddd !important;
  }

  div.highlight {
    background: #f8f8f8 !important;
    border-color: #dddddd !important;
  }

  /* Background */
  .chroma {
    color: #272822;
  }
  /* Error */
  .chroma .err {
    color: #960050;
    background-color: #1e0010;
  }
  /* LineTableTD */
  .chroma .lntd {
    vertical-align: middle;
    overflow: visible;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineTable */
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
  }
  /* LineHighlight */
  .chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffff99;
    color: inherit;
    font-style: normal;
  }
  /* LineNumbersTable */
  .chroma .lnt {
    display: block;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
    user-select: none;
    text-align: right;
  }
  /* LineNumbers */
  .chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  /* Keyword */
  .chroma .k {
    color: #00a8c8;
  }
  /* KeywordConstant */
  .chroma .kc {
    color: #00a8c8;
  }
  /* KeywordDeclaration */
  .chroma .kd {
    color: #00a8c8;
  }
  /* KeywordNamespace */
  .chroma .kn {
    color: #f92672;
  }
  /* KeywordPseudo */
  .chroma .kp {
    color: #00a8c8;
  }
  /* KeywordReserved */
  .chroma .kr {
    color: #00a8c8;
  }
  /* KeywordType */
  .chroma .kt {
    color: #00a8c8;
  }
  /* Name */
  .chroma .n {
    color: #111111;
  }
  /* NameAttribute */
  .chroma .na {
    color: #75af00;
  }
  /* NameBuiltin */
  .chroma .nb {
    color: #111111;
  }
  /* NameBuiltinPseudo */
  .chroma .bp {
    color: #111111;
  }
  /* NameClass */
  .chroma .nc {
    color: #75af00;
  }
  /* NameConstant */
  .chroma .no {
    color: #00a8c8;
  }
  /* NameDecorator */
  .chroma .nd {
    color: #75af00;
  }
  /* NameEntity */
  .chroma .ni {
    color: #111111;
  }
  /* NameException */
  .chroma .ne {
    color: #75af00;
  }
  /* NameFunction */
  .chroma .nf {
    color: #75af00;
  }
  /* NameFunctionMagic */
  .chroma .fm {
    color: #111111;
  }
  /* NameLabel */
  .chroma .nl {
    color: #111111;
  }
  /* NameNamespace */
  .chroma .nn {
    color: #111111;
  }
  /* NameOther */
  .chroma .nx {
    color: #75af00;
  }
  /* NameProperty */
  .chroma .py {
    color: #111111;
  }
  /* NameTag */
  .chroma .nt {
    color: #f92672;
  }
  /* NameVariable */
  .chroma .nv {
    color: #111111;
  }
  /* NameVariableClass */
  .chroma .vc {
    color: #111111;
  }
  /* NameVariableGlobal */
  .chroma .vg {
    color: #111111;
  }
  /* NameVariableInstance */
  .chroma .vi {
    color: #111111;
  }
  /* NameVariableMagic */
  .chroma .vm {
    color: #111111;
  }
  /* Literal */
  .chroma .l {
    color: #ae81ff;
  }
  /* LiteralDate */
  .chroma .ld {
    color: #d88200;
  }
  /* LiteralString */
  .chroma .s {
    color: #d88200;
  }
  /* LiteralStringAffix */
  .chroma .sa {
    color: #d88200;
  }
  /* LiteralStringBacktick */
  .chroma .sb {
    color: #d88200;
  }
  /* LiteralStringChar */
  .chroma .sc {
    color: #d88200;
  }
  /* LiteralStringDelimiter */
  .chroma .dl {
    color: #d88200;
  }
  /* LiteralStringDoc */
  .chroma .sd {
    color: #d88200;
  }
  /* LiteralStringDouble */
  .chroma .s2 {
    color: #d88200;
  }
  /* LiteralStringEscape */
  .chroma .se {
    color: #8045ff;
  }
  /* LiteralStringHeredoc */
  .chroma .sh {
    color: #d88200;
  }
  /* LiteralStringInterpol */
  .chroma .si {
    color: #d88200;
  }
  /* LiteralStringOther */
  .chroma .sx {
    color: #d88200;
  }
  /* LiteralStringRegex */
  .chroma .sr {
    color: #d88200;
  }
  /* LiteralStringSingle */
  .chroma .s1 {
    color: #d88200;
  }
  /* LiteralStringSymbol */
  .chroma .ss {
    color: #d88200;
  }
  /* LiteralNumber */
  .chroma .m {
    color: #ae81ff;
  }
  /* LiteralNumberBin */
  .chroma .mb {
    color: #ae81ff;
  }
  /* LiteralNumberFloat */
  .chroma .mf {
    color: #ae81ff;
  }
  /* LiteralNumberHex */
  .chroma .mh {
    color: #ae81ff;
  }
  /* LiteralNumberInteger */
  .chroma .mi {
    color: #ae81ff;
  }
  /* LiteralNumberIntegerLong */
  .chroma .il {
    color: #ae81ff;
  }
  /* LiteralNumberOct */
  .chroma .mo {
    color: #ae81ff;
  }
  /* Operator */
  .chroma .o {
    color: #f92672;
  }
  /* OperatorWord */
  .chroma .ow {
    color: #f92672;
  }
  /* Punctuation */
  .chroma .p {
    color: #111111;
  }
  /* Comment */
  .chroma .c {
    color: #75715e;
  }
  /* CommentHashbang */
  .chroma .ch {
    color: #75715e;
  }
  /* CommentMultiline */
  .chroma .cm {
    color: #75715e;
  }
  /* CommentSingle */
  .chroma .c1 {
    color: #75715e;
  }
  /* CommentSpecial */
  .chroma .cs {
    color: #75715e;
  }
  /* CommentPreproc */
  .chroma .cp {
    color: #75715e;
  }
  /* CommentPreprocFile */
  .chroma .cpf {
    color: #75715e;
  }
  /* GenericEmph */
  .chroma .ge {
    font-style: italic;
  }
  /* GenericStrong */
  .chroma .gs {
    font-weight: bold;
  }

  code {
    color: white;
  }
}
