:root {
  --sans-fontstack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
  --mono-fontstack: "Fira Code","SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: var(--sans-fontstack);
  max-width: 1000px;
}

@media screen and (min-width: 48em) {

  body.home {
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,1)) fixed, url('https://media.giphy.com/media/kHU8W94VS329y/giphy.gif') top center / cover no-repeat, #000000 center center fixed;
  }

  body.fourohfour {
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,.75)) fixed, url('https://media.giphy.com/media/C4NdKtRaQE9m8/giphy.gif') center/cover no-repeat fixed, black center center fixed;
    background-size: cover;
  }

  body.posts {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,.9)) fixed, url('https://media.giphy.com/media/x9DVHBmO750Ji/giphy.gif') top center / cover no-repeat fixed, #000000 center center fixed;
  }

  body.snippets {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,.975)) fixed, url('https://media.giphy.com/media/l2Jefd0mnLxl8GjyE/giphy.gif') top center / cover no-repeat fixed, #000000 center center fixed;
  }

  body.writeups {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.95)) fixed, url('https://media.giphy.com/media/13rQ7rrTrvZXlm/giphy.gif') top center / cover no-repeat, #000000 center center fixed;
  }

  body.tag-windows {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.95)) fixed, url('https://media.giphy.com/media/xT9IgH6tFP7dNVrQAw/giphy.gif') top center / cover no-repeat, #000000 center center fixed !important;
  }

  body[data-background] {
    background: var(--background);
  }

  body[data-background] pre {
    background: #000;
    border: 0px solid transparent;
  }

  body[data-color] {
    color: var(--color);
  }

  @media (prefers-reduced-motion: reduce) {
    body.home,
    body.fourohfour,
    body.posts,
    body.snippets,
    body.writeups,
    body.tag-windows,
    body[data-background] {
      background: #000 !important;
    }
  }

}

@media screen and (max-width: 48em) {
  .f-headline {
    font-size: 3rem !important;
  }
  .f-subheadline {
    font-size: 2.5rem !important;
  }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
  .f-headline {
    font-size: 4.5rem !important;
  }
  .f-subheadline {
    font-size: 3.75rem !important;
  }
}

body.tags {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.2)) fixed, var(--color);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.lh-page-title {
  line-height: 2;
}

.n {
  color: inherit !important;
}

.htb {
  color: #9acc14 !important;
}

.pillbox {
  overflow-wrap: break-word;
  overflow: auto;
}

.pillbox.points {
  color: #438bff;
}

.pillbox.flag {
  color: #80ff00;
}

.sans-serif {
  font-family: var(--sans-fontstack) !important;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  /* border-radius: 4px; */
}

p > code, li > code,
h1 > code, h2 > code,
h3 > code, h4 > code,
h5 > code, h6 > code {
  white-space: nowrap;
  /* box-shadow: 0 1px 4px rgba(127,127,127, 0.2); */
  border-bottom: 2px solid rgba(127,127,127,0.2);
  padding: 0px 4px;
  background-color: rgba(50,50,50,0.5);
  border-radius: 4px;
  opacity: 0.85;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: normal;
  word-wrap: normal;
  overflow-x: auto;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid rgba(128,128,128,0.15);
}

article hr {
  border: 0px solid transparent;
  border-bottom: 2px solid rgba(127,127,127,0.25);
  margin: 1.25rem 0;
  mix-blend-mode: difference;
}

article blockquote {
  /* border: 2px solid; */
  margin: 0;
  padding-left: 1rem;
  border-left: 0.15rem solid;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  position: relative;
  padding-right: 1.25rem;
}

article a.ha {
  margin-left: 0.25em;
  text-decoration: none;
  color: inherit;
  opacity: 0;
  display: inline-block;
  transition: 0.3s opacity ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
}

article:hover a.ha {
  opacity: 0.25;
}

article a.ha::before {
  content: "#";
}

article a.ha:hover {
  opacity: 0.5;
}

#TableOfContents {
  display: inline-block;
  font-family: var(--mono-fontstack);
  text-overflow: ellipsis;
}

details:not([open]) summary::after {
  content: "...</table-of-contents>";
  font-family: var(--mono-fontstack);
  opacity: 0.5;
}

summary.toc {
  cursor: pointer;
  font-family: var(--mono-fontstack);
  user-select: none;
}

/* summary.toc::before { */
/*   font-family: "Fira Code", monospace; */
/*   content: ""; */
/*   display: inline-block; */
/*   margin-bottom: 0em; */
/*   opacity: 0.5; */
/* } */

summary.toc::marker {
  color: #888;
}

#TableOfContents::after {
  content: "</table-of-contents>";
  display: block;
  margin-top: 0em;
  opacity: 0.5;
}

#TableOfContents ul {
  list-style: none;
  padding-left: 1.15em;
  border-left: 1px rgba(128,128,128,0.25) dotted;
}

#TableOfContents > ul {
  padding-left: 1.15em;
  margin-top: 0;
  margin-bottom: 0;
}

#TableOfContents ul li::before {
  content: "∙ ";
  font-family: var(--mono-fontstack);
  margin-right: 0em;
  color: #f92672;
}

#TableOfContents ul li:empty {
  display: none;
}

#TableOfContents ul li li::before { color: #66d9ef; }
#TableOfContents ul li li li::before { color: #a6e22e; }
#TableOfContents ul li li li li::before { color: #a6e; }
#TableOfContents ul li li li li li::before { color: #f92; }
#TableOfContents ul li li li li li li::before { color: #66d; }

#TableOfContents li a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  text-overflow: ellipsis;
}

#TableOfContents li a:hover {
  opacity: 0.75;
}

.footnotes::before {
  content: "footnotes";
  margin-top: 2rem;
  margin-bottom: -1rem;
  opacity: 0.5;
  font-size: 1.25rem;
  font-style: italic;
  display: block;
}

.footnotes {
  opacity: 0.35;
  font-size: 0.75rem;
  transition: opacity 1s ease;
}

.footnotes:hover, .footnotes:focus-within {
  opacity: 1;
}

a.footnote-ref {
  margin: 0 0.1em;
  color: inherit;
  text-decoration: none;
}

a.footnote-ref:visited {
  color: rgb(214, 89, 214);
}

a.footnote-ref::before {
  content: "[";
}

a.footnote-ref::after {
  content: "]";
}

twitter-widget {
  margin: 0 auto;
}

.blockquote-shortcode {
  position: relative;
}

blockquote.blockquote-shortcode {
  border-left: none;
}

.blockquote-shortcode p {
  display: inline-block;
  text-align: left;
}

.blockquote-shortcode cite {
  user-select: none;
}

.blockquote-shortcode p::before {
  content: '\201c';
  font-family: sans-serif;
  position: absolute;
  font-size: 5rem;
  line-height: 0;
  top: 2rem;
  left: -0.5em;
  opacity: 0.2;
}

.blockquote-shortcode p::after {
  content: '\201d';
  font-family: sans-serif;
  position: absolute;
  font-size: 5rem;
  line-height: 0;
  bottom: 1rem;
  right: -0.5em;
  opacity: 0.2;
}

.no-select {
  user-select: none;
}

pre,
code {
  font-family: var(--mono-fontstack);
  font-variant-ligatures: contextual;
  font-feature-settings: "calt" 1;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: yellow;
  color: black;
}

:link {
  color: rgb(98, 177, 241);
}

:visited {
  color: rgb(214, 89, 214);
}

:target::after {
  margin-left: 0.25em;
  content: "\2190";
  background: #fff200;
  color: black;
  line-height: 1;
  height: 1.05em;
  width: 0;
  border-radius: 0.15em;
  text-align: center;
  display: inline-block;
  animation: arrow 1.5s ease-in-out;
  animation-delay: 0.4s;
  opacity: 0;
}

@keyframes arrow {
  0%, 50%, 100% {
    margin-left: 0.25em;
  }

  25%, 75% {
    margin-left: 0.5em;
  }

  15%, 80% {
    opacity: 1;
    width: 1.1em;
  }

  0, 100% {
    opacity: 0;
    width: 0;
  }
}

.term {
  color: var(--color) !important;
}

.submenu {
  mix-blend-mode: screen;
  font-family: var(--mono-fontstack);
}

@media (prefers-color-scheme: light) {

  html {
    background: #fff !important;
  }

  body {
    color: #383838 !important;
    background: #fff !important;
  }

  body.tags {
    text-shadow: none !important;
  }

  .n {
    mix-blend-mode: normal;
  }

  :link {
    color: rgb(18, 101, 253);
  }

  :visited {
    color: rgb(145, 0, 145);
  }

  .term {
    /* border: 1px solid var(--color); */
    color: black !important;
    display: inline-block;
    padding: 0rem 0.35rem;
    border-radius: 0.4rem;
  }

  *.moon-gray {
    color: #000000 !important;
  }
  *.white {
    color: #383838 !important;
  }
  *.bg-black {
    background-color: #dddddd;
  }

  .htb {
    color: #0a3 !important;
  }

  .submenu {
    mix-blend-mode: darken;
    border-radius: 4px 4px 6px 4px;
    border: 0.125rem solid;
    border-left: 1px solid !important;
    border-top: 1px solid !important;
    box-shadow: .25rem .25rem .5rem 0 rgba(0,0,0,.1);
    /* color: inherit !important; */
  }

  p > code, li > code,
  h1 > code, h2 > code,
  h3 > code, h4 > code,
  h5 > code, h6 > code {
    background-color: rgba(230,230,230,0.5);
  }

  pre {
    color: white;
  }

  code {
    color: inherit !important;
  }

  p > code {
    mix-blend-mode: multiply;
  }

  .pillbox.flag {
    color: #00b346;
  }

  .pillbox.points {
    color: #1f75fe;
  }

}
