/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

pre {
  position: relative;
  font-size: 0.85rem;
}

pre code {
  padding: 0em;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #000000;
  color: #ddd;
}

.hljs[class~="javascript"]::before,
.hljs[class~="python"]::before, .hljs[class~="language-python"]::before,
.hljs[class~="nginx"]::before,
.hljs[class~="language-bash"]::before {
  position: absolute;
  top: 0; right: 0;
  padding: 0.2rem 0.35rem;
  border-radius: .1rem;
  background-color: rgba(0,0,0,0.5);
  font-size: 0.65rem;
  display: block;
}

.hljs[class~="javascript"]::before {
  content: "js";
}
.hljs[class~="python"]::before, .hljs[class~="language-python"]::before {
  content: "python";
}
.hljs[class~="nginx"]::before {
  content: "nginx";
}
.hljs[class~="language-bash"]::before {
  content: "bash";
}

code[data-lang] {
  display: block;
  overflow-x: auto;
}

code[data-lang="fallback"]::before {
  display: none;
}

.language-none {
  color: inherit !important;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #a6e22e;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}

.highlight table, .chroma table.lntable {
  width: 100%;
  table-layout: fixed;
  border-radius: 4px;
}

.highlight .chroma {
  border-radius: 4px;
}

.highlight > div {
  background: #000 !important;
  border: 1px solid rgba(128,128,128,0.15);
}

.highlight > pre.chroma {
  border: 1px solid rgba(128,128,128,0.15);
}

.highlight table tr td:first-of-type {
  width: 4em;
}

.highlight table tr td:last-of-type {
  width: 100%;
}

.highlight table {
  padding: 0 0.5rem !important;
}

td pre {
  border-radius: 0;
  margin: 0;
  padding: 0;
}


td pre.chroma {
  border: none;
  margin-bottom: 0;
  padding: 9.5px 0;
}

@media (max-width: 48em) {
  code.hljs {
    font-size: 0.65rem;
  }
}

div.highlight {
  margin: 1rem 0;
}

/* Background */ .chroma { color: #ddd; background-color: #000000 }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #222 }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #555; user-select: none; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #555; }
/* Keyword */ .chroma .k { color: #66d9ef }
/* KeywordConstant */ .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: #a6e22e }
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameTag */ .chroma .nt { color: #f92672 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #e6db74 }
/* LiteralString */ .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #f92672 }
/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }

@media (prefers-color-scheme: light) {
  pre, .highlight table, .chroma table.lntable,  body[data-background] pre {
    background: #fafafa;
    color: #272822;
    border-color: #f6f6f6 !important;
  }

  .highlight > div {
    background: #fff !important;
    border-color: #f6f6f6 !important;
  }

  /* Background */ .chroma { color: #272822; background-color: #fafafa; }
  /* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
  /* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* Keyword */ .chroma .k { color: #00a8c8 }
  /* KeywordConstant */ .chroma .kc { color: #00a8c8 }
  /* KeywordDeclaration */ .chroma .kd { color: #00a8c8 }
  /* KeywordNamespace */ .chroma .kn { color: #f92672 }
  /* KeywordPseudo */ .chroma .kp { color: #00a8c8 }
  /* KeywordReserved */ .chroma .kr { color: #00a8c8 }
  /* KeywordType */ .chroma .kt { color: #00a8c8 }
  /* Name */ .chroma .n { color: #111111 }
  /* NameAttribute */ .chroma .na { color: #75af00 }
  /* NameBuiltin */ .chroma .nb { color: #111111 }
  /* NameBuiltinPseudo */ .chroma .bp { color: #111111 }
  /* NameClass */ .chroma .nc { color: #75af00 }
  /* NameConstant */ .chroma .no { color: #00a8c8 }
  /* NameDecorator */ .chroma .nd { color: #75af00 }
  /* NameEntity */ .chroma .ni { color: #111111 }
  /* NameException */ .chroma .ne { color: #75af00 }
  /* NameFunction */ .chroma .nf { color: #75af00 }
  /* NameFunctionMagic */ .chroma .fm { color: #111111 }
  /* NameLabel */ .chroma .nl { color: #111111 }
  /* NameNamespace */ .chroma .nn { color: #111111 }
  /* NameOther */ .chroma .nx { color: #75af00 }
  /* NameProperty */ .chroma .py { color: #111111 }
  /* NameTag */ .chroma .nt { color: #f92672 }
  /* NameVariable */ .chroma .nv { color: #111111 }
  /* NameVariableClass */ .chroma .vc { color: #111111 }
  /* NameVariableGlobal */ .chroma .vg { color: #111111 }
  /* NameVariableInstance */ .chroma .vi { color: #111111 }
  /* NameVariableMagic */ .chroma .vm { color: #111111 }
  /* Literal */ .chroma .l { color: #ae81ff }
  /* LiteralDate */ .chroma .ld { color: #d88200 }
  /* LiteralString */ .chroma .s { color: #d88200 }
  /* LiteralStringAffix */ .chroma .sa { color: #d88200 }
  /* LiteralStringBacktick */ .chroma .sb { color: #d88200 }
  /* LiteralStringChar */ .chroma .sc { color: #d88200 }
  /* LiteralStringDelimiter */ .chroma .dl { color: #d88200 }
  /* LiteralStringDoc */ .chroma .sd { color: #d88200 }
  /* LiteralStringDouble */ .chroma .s2 { color: #d88200 }
  /* LiteralStringEscape */ .chroma .se { color: #8045ff }
  /* LiteralStringHeredoc */ .chroma .sh { color: #d88200 }
  /* LiteralStringInterpol */ .chroma .si { color: #d88200 }
  /* LiteralStringOther */ .chroma .sx { color: #d88200 }
  /* LiteralStringRegex */ .chroma .sr { color: #d88200 }
  /* LiteralStringSingle */ .chroma .s1 { color: #d88200 }
  /* LiteralStringSymbol */ .chroma .ss { color: #d88200 }
  /* LiteralNumber */ .chroma .m { color: #ae81ff }
  /* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
  /* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
  /* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
  /* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
  /* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
  /* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
  /* Operator */ .chroma .o { color: #f92672 }
  /* OperatorWord */ .chroma .ow { color: #f92672 }
  /* Punctuation */ .chroma .p { color: #111111 }
  /* Comment */ .chroma .c { color: #75715e }
  /* CommentHashbang */ .chroma .ch { color: #75715e }
  /* CommentMultiline */ .chroma .cm { color: #75715e }
  /* CommentSingle */ .chroma .c1 { color: #75715e }
  /* CommentSpecial */ .chroma .cs { color: #75715e }
  /* CommentPreproc */ .chroma .cp { color: #75715e }
  /* CommentPreprocFile */ .chroma .cpf { color: #75715e }
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericStrong */ .chroma .gs { font-weight: bold }

  code {
    color: white;
  }
}
