{{ partial "header.html" . }}
<body lang="{{ .Site.LanguageCode }}" class="sans-serif {{ if .Site.Params.dynamic_backgrounds }}dynamic{{ end }} {{ .Type }} {{ .Site.Params.theme_string }} {{ .Site.Params.width_string }} center center-ns mv2 mv5-ns">
  {{ partial "breadcrumbs.html" . }}
  {{ block "foreword" . }}{{ end }}
  <section id="main" class="mt5">
    <div>
      <ul id="list" class="pl0">
        {{- $paginator := .Paginate (where .RegularPagesRecursive "Params.stub" nil) }}
        {{ range $paginator.Pages.ByDate.Reverse -}}
        <li class="list pl0 lh-copy mv4">
            <a focusable="true" tabindex="0" class="f2-ns f2 tracked-tight b dib n no-underline lh-solid mb0 dim heading" href="{{ .Permalink}}">{{ .Title | markdownify | emojify }}{{ if .RegularPagesRecursive }}<span class="ml2 f4 o-20">({{ .RegularPagesRecursive | len}})</span>{{ end }}</a>{{- if .Description }}<div class="db mv2 mv2-m mv1-ns i f7 w-80-ns w-90-m w-100 o-70">{{ .Description }}</div>
            {{ if not .Params.stub }}<span class="f7 n o-50 db db-ns mt1 mb0"> {{ .Date.Format "January 2, 2006" }} &bull; {{ .ReadingTime }} mins {{ with .Params.Tags }}&bull; {{ range first 5 . }} <a href="{{ $.Site.BaseURL }}tags/{{ . | lower }}/">{{.}}</a> {{ end }} {{ end }} {{ if gt (len .Params.Tags) 5 }} and more... {{ end }}</span>{{ end }}
          {{- end }}</li>{{ end }}
      </ul>
      {{- partial "pagination-nav.html" . }}
    </div>
  </section>
  {{ partial "footer.html" . -}}
  </body>
</html>
