{{ partial "header.html" . }}
{{ $styles := slice ""}}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif s-{{ .Type }} {{ .Site.Params.theme_string }} {{ .Site.Params.width_string }} center center-ns mv2 mv5-ns"
  itemscope
  itemtype="http://schema.org/Article"
  {{- if (and .Params.background .Site.Params.dynamic_backgrounds) }}
  data-background="true"
  {{- $styles = $styles | append "--background: " .Params.background ";"}}
  {{- end }}
  {{- if (and .Params.color .Site.Params.dynamic_backgrounds) }}
  data-color="true"
  {{- $styles = $styles | append "--color: " .Params.color ";"}}
  {{- end }}
  {{- if $styles }}
  style='{{ safeCSS (delimit $styles "") }}'
  {{- end }}
>

  {{- partial "breadcrumbs.html" . -}}

  <section id="main" class="mt5">
    <h1 itemprop="name" class="f-headline lh-title tracked-tight mb2 heading single-heading" id="title">{{ .Title | markdownify | emojify }}{{- if and (eq .Type "writeups") (in .Title "CTF") -}}<span class="writeup-year">{{ dateFormat "2006" .Date }}</span>{{- end -}}</h1>
    {{- if gt .ReadingTime 2 | or .Description | or .Params.toc | or .Params.author }}
    <div class="meta mt4-ns mt3 mb0 f6 db lh-title">
      <div class="attrs">
      {{- if .Params.Author }}<div class="dat dib mv1 mr3"><em>author:</em>{{ .Params.Author }}</div>{{ end -}}
      {{- if gt .ReadingTime 2 }}<div class="dat dib mv1 mr3"><em>readingTime:</em>{{ .ReadingTime }} mins</div>
      {{- end }}
      {{- if .Date -}}<div class="dat dib mv1 mr3"><em>date:</em>{{ .Date | dateFormat "02/Jan/2006"}}</div>{{ else }}<div class="dat dib mv1 mr3 i">no date available for this {{ .Type | singularize }}</div>{{ end }}
      </div>
      {{- if .Params.toc }}
      <aside class="table-of-contents lh-page-title mt1 f7">
        <details id="toc">
          <summary class="toc"><span>&lt;table-of-contents&gt;</span></summary>
          {{ .TableOfContents }}
        </details>
      </aside>
      <!-- <div class="mv5-ns mv2 tl db f2 o-10 no-select">&nbsp;</div> -->
      {{- end }}
      <div class="db mt3 mb4 o-20 no-select">—</div>
    </div>
    {{- end }}

    <article itemprop="articleBody" id="content" class="w-100-ns w-100 lh-copy grt" role="article">{{- .Content -}}</article>

    <div class="mt3 f7 dib lh-copy w-100 tailmeta">
      <div class="code o-50 truncate" title="digest (word count)">sha256: {{ .Plain | sha256 }} ({{ .WordCount }})</div>
      {{- if .Date -}}<div class="code o-50 truncate">created: {{ .Date }}</div>{{ else }}<div class="code o-50 i">no date available for this {{ .Type | singularize }}</div>{{ end }}
      {{- if (and .Lastmod (ne .Lastmod .Date)) -}}<div class="code o-50 truncate" title="Last modified">lastmod: {{ .Lastmod }}</div>{{- end -}}
      {{- if .Params.tags }}
      <div class="tags mt3 o-40">
        {{- range sort .Params.tags -}}
        <a title="tagged as: {{ . | anchorize }}" href="{{ $.Site.BaseURL }}tags/{{ . | anchorize }}/" class="link code lh-title mr2 dib mb2 ba ph2 pv1 br-pill bw0 white fw6 dim tag">{{ . | anchorize }}</a>{{- end -}}
      </div>
      {{- end }}
    </div>

    {{ if ne .Type "misc" }}
        {{ partial "in-post-navigation.html" . }}
    {{ end }}
  </section>
  {{ partial "footer.html" . }}
  </body>
</html>
