{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif {{ .Site.Params.theme_string }} {{ .Site.Params.width_string }} center center-ns mv2 mv5-ns"
>

  {{ partial "breadcrumbs.html" . }}
  {{- $type := .Type | singularize -}}

  <section id="main" class="mt5">
    <div>
      <ul id="list" class="pl0">
        {{- if eq $type "tag" -}}
        {{- range $t, $term := .Data.Terms.ByCount -}}
            {{- if ne .Name "" -}}
                {{- $pack := dict "Name" $term.Name "Colors" $.Site.Data.colors -}}
                <li class="list pl0 mr3 mb2-ns mb3 dib dim lh-copy">
                <a class="f4 dim no-underline term n" href="{{ .Name }}/" style='--color: {{- partial "utils/tc.html" $pack -}};'>{{ .Name }} <span class="f7 ml1 b ba bw1 fw8 dib v-mid ph1 br2 tc o-60">{{$term.WeightedPages | len}}</span></a>
                </li>
                {{- end -}}
            {{- end -}}
        {{- else -}}
            {{- range .Pages -}}
                {{- if ne .Name "" -}}
                    <li class="list pl0 mr3 mb2-ns mb3 dib truncate dim lh-copy">
                        <a class="f4 dim no-underline term n" href="{{ .Permalink }}">{{ .Title }} <span class="ml1 b o-40">{{ .Pages | len }}</span></a>
                    </li>
                {{- end -}}
            {{- end -}}
            {{- if not .Pages -}}
                <span>There are no <span class="underline">{{ $type | pluralize }}</span> available right now.</span>
            {{- end -}}
        {{- end -}}
      </ul>
      {{/*  <pre class="mv4">{{range $k, $v := .Data.Terms.ByCount }}{{$k}}==>{{printf "%#v" $v.WeightedPages }} {{ $v.WeightedPages | len }}<br/>{{end}}</pre>  */}}
    </div>
  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
