{{- $end_style := "pb1 no-underline dib n" -}}
{{- $blacklist := slice "" -}}
{{- $path := .Permalink -}}
{{- $path := replace $path .Site.BaseURL "" -}}
{{- $path := split $path "/" -}}
{{- $path := $path | symdiff $blacklist -}}
<div id="breadcrumbs" class="mt2-ns mt4 mb3 lh-page-title" role="navigation">
  <a href="{{ .Site.BaseURL }}" title="home" class="no-underline no-select n mr1"><img class="h2 w2 v-mid dib br-pill pa1 breadcrumb-icon" src="{{ .Site.BaseURL }}ketz.svg" /></a>
    {{- if not (or (.Page.IsHome) (eq .Kind "404")) -}}
    <!-- <span class="o-60"> / </span><a href="{{ .Site.BaseURL }}" class="b bb bw1 pb1 dim no-underline n">{{ .Site.Title }}</a> -->
    {{- $counter := 0 -}}
    {{- $len := len $path -}}
    {{- range $path }}
        {{- $counter = add $counter 1 -}}
        {{- $subpath := delimit (first $counter $path) "/" }}
        {{- if lt $counter $len -}}
        <span class="o-30 mh1">/</span><a href="{{ $.Site.BaseURL }}{{ $subpath }}" title="{{ $subpath }}" class="bb pb1 dim no-underline n">{{- . -}}</a>{{- end -}}
    {{- end -}}
    <span class="o-30 mh1">/</span><span class="{{ $end_style }}">{{ path.Base .Permalink }}</span>
    {{- else -}}
    <span class="o-30 mh1">/</span><a href="{{ .Site.BaseURL }}" class="{{ $end_style }}">{{ .Title | emojify | markdownify }}</a></span>
    {{- end -}}
</div>
