<footer class="mt5 mb4" role="contentinfo">
  <div>
    <p class="f7 mv0 lh-copy">
      &copy; {{ now.Format "2006" }} &ZeroWidthSpace; {{- .Site.Copyright |
      safeHTML -}}
      <span class="db mt2">
        <a class="color-inherit no-underline dim" href="{{ .Site.BaseURL }}sitemap.xml">sitemap</a>
        <span class="mh2 no-select">|</span>
        <a class="color-inherit no-underline dim" href="{{ .Site.BaseURL }}archive">archive</a>
        <span class="mh2 no-select">|</span>
        <a class="color-inherit no-underline dim" href="{{ .Site.BaseURL }}index.xml">rss</a>
      </span>
    </p>
  </div>
  {{- if .Site.Params.Search -}}
  <div class="mv0-ns mv3 search">
    <div id="fastSearch">
    <input id="searchInput" type="search" placeholder="search..." tabindex="0" />
      <ul id="searchResults">
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
    <script src="{{ .Site.BaseURL }}js/search.js" defer></script>
  </div>
  {{- end -}}
</footer>

{{- if ne .Site.BaseURL "https://0ketz.gitlab.io/" }}
<div
  title="This is not live production"
  style="
    position: fixed;
    z-index: 3000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background-position: 50% 0;
    // background-image:
    //  repeating-linear-gradient(46deg, transparent 0 20px, rgba(128,128,128,0.05) 0px 100px, transparent 20px 200px),
    //  repeating-linear-gradient(43deg, transparent 0 20px, rgba(128,128,128,0.15) 0px 120px, transparent 50px 140px);
  "
  class="no-select"
></div>
{{- end }}
