{{ if not .Page.Params.stub }}
{{ if (or .Page.PrevInSection .Page.NextInSection) }}
<div class="pagination in-post mt4">
    <div class="left">
        {{ if .Page.NextInSection }}{{ if not .Page.NextInSection.Params.stub }}<a class="pl4 dib dim" data-label="newer" title="navigate to next {{ .Type | singularize }}: {{ .Page.NextInSection.Title | emojify | markdownify }}" href="{{ .Page.NextInSection.Permalink }}">{{ .Page.NextInSection.Title | emojify | markdownify }}</a>{{ end }}{{ end }}
    </div>
    <div class="right">
        {{ if .Page.PrevInSection }}{{ if not .Page.PrevInSection.Params.stub }}<a class="pr4 dib dim" data-label="older" title="navigate to previous {{ .Type | singularize }}: {{ .Page.PrevInSection.Title | emojify | markdownify }}" href="{{ .Page.PrevInSection.Permalink }}">{{ .Page.PrevInSection.Title | emojify | markdownify }}</a>{{ end }}{{ end }}
    </div>
</div>
{{ end }}
{{ end }}
