    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{- with.Description -}}
    <meta name="description" content="{{ . }}" />
    {{ end }}
    {{- if or (.Keywords) (.Params.tags) -}}
    <meta name="keywords" content="{{- if .Keywords }}
    {{ range.Keywords }}{{ . }},
    {{- end }}{{- else if isset .Params "tags" }}{{ range.Params.tags }}{{ . }},
    {{- end }}{{- end }}">
    {{- end }}
    {{ hugo.Generator }}
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ .Params.Description | default  .Description }}" />
    <meta property="og:title" content="{{ .Title | emojify | plainify }}" />
    <meta property="og:site_name" content="{{ .Site.Title | emojify | plainify }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.meta_image | default .Site.Params.meta_image }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02"}}" />
    <meta property="article:modified_time" content="{{ .Date.Format "2006-01-02"}}" />
    {{- if .Keywords }}
    {{- range.Keywords }}
    <meta property="article:tag" content="{{ . }}" />{{ end }}
    {{- else if isset .Params "tags" }}
    {{- range.Params.tags }}
    <meta property="article:tag" content="{{ . }}" />{{ end }}
    {{- end }}
    {{- if .Site.Params.twitter }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Description | default .Summary }} | {{ .Site.Params.Description }}" />
    <meta name="twitter:image:src" content="{{ .Site.BaseURL}}{{ .Params.meta_image | default .Site.Params.meta_image }}" />
    <meta name="twitter:domain" content="{{ .Permalink }}" />{{ end -}}
