{{ if gt .Paginator.TotalPages 1 }}<div class="pagination tracked-tight code f6 mt5-ns mt4">
{{- if .Paginator.HasPrev }}<div class="prev">
    <a class="prev dim pa1 mr2 no-select" href="{{ .Paginator.Prev.URL }}">&larr; Newer <span class="di-ns dn">{{ .Type }}</span></a>
</div>{{ end }}
{{ if gt .Paginator.TotalPages 1 }}<div class="number"><span class="pa2 no-select ba o-50 br2 brd">{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</span></div>{{ end }}
{{- if .Paginator.HasNext }}<div class="next">
    <a class="next dim pa1 ml2 no-select" href="{{ .Paginator.Next.URL }}">Older <span class="di-ns dn">{{ .Type }}</span> &rarr;</a></div>{{ end }}
</div>{{ end }}
