{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif {{ if .Site.Params.dynamic_backgrounds }}fourohfour{{ end }} {{ .Site.Params.theme_string }} {{ .Site.Params.width_string }} center center-ns mv2 mv5-ns"
>
{{ partial "breadcrumbs.html" . }}
    <section id="main">
      <div class="mt5">
        <h1 id="title" class="f-headline tracked-tight lh-solid mb0 heading">Not Found {{ printf ":scream_cat:" | emojify }}</h1>
        <p class="i lh-copy">Ceci n'est pas une web page.</p>
        <a class="dim mv3 dib i no-underline pa2 blue tracked ttu ba" href="{{ .Site.BaseURL }}">&larr; go to homepage</a>
      </div>
    </section>
    {{ partial "footer.html" . }}
  </body>
</html>
