{{ partial "header.html" . }}
  <body lang="{{ .Site.LanguageCode }}" class="sans-serif home {{ if .Site.Params.dynamic_backgrounds }}dynamic{{ end }} {{ .Site.Params.theme_string }} {{ .Site.Params.width_string }} center center-ns mv2 mv5-ns">
    {{ partial "breadcrumbs.html" . }}
    <section id="main" class="mt3-ns mt5">
      <div class="content-links">
        <ul class="menu list pl0 mt5">
          {{ $title_style := "f-headline heading tracked-tight b n dim no-underline lh-title" -}}
          {{ range .Site.Params.menu }}
          <li class="mv3">
              <a class="{{ $title_style }}" href="{{ .url }}">{{ .name }}</a></li>{{ end }}
          {{ range sort .Site.Sections "Title" }}{{if and (in (string .Type) "misc" | not) (gt .Pages 0)}}
          <li class="mv3">
              <a class="{{ $title_style }}" href="{{ .Title | lower }}">{{ .Title | lower }}</a><span class="ml2 f3 b o-20">({{ where .RegularPagesRecursive "Params.stub" nil | len}})</span></li>{{end}}{{end}}
        </ul>
        <div class="mv4 o-10 f5 lh-page-title">&mdash;</div>
        <ul class="list pl0 w-20-ns w-30-m w-40">
          {{ range sort .Site.Params.submenu "name" }}
          <li class="b mb2 dib mr1">
            <a class="f5 b dib submenu fw4 ttu tracked bt bl pa2 dim no-underline i" target="_blank" href="{{ .url }}" style="color: {{ .color }};">{{ .name }}<sup class="ml1">&#8599;</sup></a>
          </li>
          {{ end }}
        </ul>
      </div>
    </section>
    {{- partial "footer.html" . -}}
  </body>
</html>
