{{ partial "header.html" . }}
{{ $styles := slice ""}}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif s-{{ .Type }} {{ .Site.Params.theme_string }} {{ .Site.Params.width_string }} center center-ns mv2 mv5-ns"
  itemscope
  itemtype="http://schema.org/Article"
  {{- if .Params.background }}
  data-background="true"
  {{- $styles = $styles | append "--background: " .Params.background ";"}}
  {{- end }}
  {{- if .Params.color }}
  data-color="true"
  {{- $styles = $styles | append "--color: " .Params.color ";"}}
  {{- end }}
  {{- if $styles }}
  style='{{ safeCSS (delimit $styles "") }}'
  {{- end }}
>
  {{ $baseurl := .Site.BaseURL }}

  {{ partial "breadcrumbs.html" . }}

  <section id="main" class="mt5">
    <div id="archive-list" class="pl0">
      {{- $blacklist_types := slice "misc" "tags" "archive" "series" -}}
      {{- $blacklist_kinds := slice "section" "home" -}}
      {{- $items := where (where (where .Site.Pages.ByDate "Type" "not in" $blacklist_types) "Kind" "not in" $blacklist_kinds) "Params.stub" "eq" nil -}}
      {{ range $items.GroupByDate "2006" "desc" }}
      <h2 id="{{ .Key | anchorize }}" class="f7 bb o-40 b mt4-ns pb2-ns pb1-m pb1 db mb0 mt2 no-select">{{ .Key }}</h2>
      <ul class="group mb3-ns mb4 mb4-m db pl0">
              {{- range .Pages -}}
              <li class="mv1-ns mv2 pl0">
                  <a focusable="true" tabindex="0" class="f6 f4-ns heading tracked-tight b n no-underline mb0 dim" href="{{ .Permalink }}"><span class="dib v-mid">{{ .Title | emojify | markdownify }}</span><span class="f6 tracked n fw4 o-50 lh-solid v-mid dn dib-m dib-l"><span class="mh2">│</span>{{ .Date.Format "Jan 02" }}<span class="code mh2 o-50">&times;</span><span class="bg-white black br-pill ph2 pv0">{{ .Type | singularize }}</span></span></a>
              </li>
              {{- end -}}
          </ul>
      {{ end }}
    </div>
  </section>
  {{ partial "footer.html" . }}
  </body>
</html>
