<div class="ctf-challenge br2">
  {{- $points := default "100" (.Get "points") -}}
  {{- $category := default "General" (.Get "category") -}}
  {{- $pillboxStyle := "pillbox cb dib ba pa2 br2 mw-100 tc b bw1 mb2" -}}
  <div class="stats"><span class="label top">info</span></div>
    <div class="{{ $pillboxStyle }} points">
      <span class="db lh-solid">Points: {{ $points }}; Category: {{ $category }}</span>
    </div>
  <div class="clear"></div>
<div class="contents">{{- .Inner | .Page.RenderString -}}</div>
  <div class="clear"></div>
  <p class="no-select">
    <span class="label">Flag</span>
  </p>
  <div class="clear"></div>
  {{- $flag := default "CTF{flag}" (.Get "flag") -}}
    <div class="{{ $pillboxStyle }} flag code no-select">
      <span class="db lh-solid">{{ $flag }}</span>
    </div>
</div>
