{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-80-m w-60-ns bg-black white center center-ns mv2 mv5-ns"
  style="background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,.25)) fixed, #{{ .Title | sha256 | last 6 }}; text-shadow: 1px 1px 2px rgba(0,0,0,0.1);"
>

{{ partial "breadcrumbs.html" }}

  <section id="main" class="mt5">
    <div>
      <ul id="list" class="pl0">
        <!-- prettier-ignore -->
        {{ range .Data.Pages.ByDate.Reverse }}
        <li class="list pl0 lh-copy">
          <a
            class="f3 b dib n dim no-underline"
            href="{{ .Permalink}}"
            >{{ .Title }}</a
          >
          <span
            class="f6 o-40 db dib-ns"
            >{{ .Date.Format "January 2, 2006" }}</span
          >
        </li>
        <!-- prettier-ignore -->
        {{ end }}
      </ul>
    </div>
  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
