{{ partial "header.html" . }}{{- $pack := dict "Name" .Name "Colors" $.Site.Data.colors "Debug" false -}}
<body lang="{{ .Site.LanguageCode }}" class='sans-serif bg-black white tags {{ if .Site.Params.dynamic_backgrounds }}dynamic{{ end }} tag-{{.Name}} {{ .Site.Params.width_string }} {{ partial "utils/tc-test-lumin.html" $pack }} center center-ns mv2 mv5-ns' style='--color: {{ partial "utils/tc.html" $pack }};'>
  {{ partial "breadcrumbs.html" . }}
  <section id="main" class="mt5">
    <div>
      <ul id="list" class="pl0">
        {{ range .Data.Pages.ByDate.Reverse }}
        <li class="list pl0 pv2 lh-copy">
          <a class="f2 tracked-tight mr2 b dib n no-underline lh-solid mb0 dim heading" href="{{ .Permalink}}">{{.Section | singularize | title }}::<wbr>{{ .Title | emojify | markdownify  }}</a>{{ if .Date }}<span class="f6 o-40 db dib-ns">{{ .Date.Format "January 2, 2006" }}</span>{{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
    {{/*{{- $pack := dict "Name" .Name "Colors" $.Site.Data.colors "Debug" true -}}
    {{ partial "utils/tc-test-lumin.html" $pack }}*/}}
  </section>
  {{ partial "footer.html" . }}
  </body>
</html>
