{{- $color := "" -}}
{{- $comp := "" -}}
{{- if .Name -}}
    {{- if isset .Colors .Name -}}
        {{- $color = strings.TrimPrefix "#" (index .Colors .Name) | lower -}}
    {{- else -}}
        {{- $color = .Name | anchorize | sha256 | last 6 -}}
    {{- end -}}
    {{- $a := slicestr $color 0 1 | printf "%x" | float -}}{{- $a = sub $a 30 -}}{{- if gt $a 30 -}}{{- $a = sub $a 20 -}}{{- end -}}{{- $a = div $a 16 -}}
    {{- $b := slicestr $color 2 3 | printf "%x" | float -}}{{- $b = sub $b 30 -}}{{- if gt $b 30 -}}{{- $b = sub $b 20 -}}{{- end -}}{{- $b = div $b 16 -}}
    {{- $c := slicestr $color 4 5 | printf "%x" | float -}}{{- $c = sub $c 30 -}}{{- if gt $c 30 -}}{{- $c = sub $c 20 -}}{{- end -}}{{- $c = div $c 16 -}}
    {{- $comp = slice $a $b $c -}}
    {{- $RG := first 2 $comp -}}{{- $sRG := add (index $RG 0) (index $RG 1) -}}
    {{- $GB := last 2 $comp -}}{{- $sGB := add (index $GB 0) (index $GB 1) -}}
    {{- $sALL := add (index $comp 0) (index $comp 1) | add (index $comp 2) -}}
    {{- if and (gt $sALL 1) (or (gt $sRG 1.5) | or (gt $sGB 1.5) | or (gt (index $comp 1) 0.75)) -}}{{- if not .Debug -}}lum{{- end -}}{{- end -}}
{{- if .Debug -}}
<div class="highlight"><pre class="chroma code">
color: #{{ $color }}

RGB: {{ delimit $comp " + " }}
     = {{ $sALL }}
</pre></div>
{{- end -}}{{- end -}}
