{{- if .IsHome -}}
<title>{{ .Site.Title }} | {{ .Site.Params.description }}</title>
{{- else -}}
<title>{{ .Title | emojify | plainify }} | {{ .Site.Title | emojify | plainify  }}</title>
{{- end -}}
