{{- $quote := default "Yeah well, that's just like your opinion man." (.Inner) -}}
{{- $quote := default $quote (.Inner) -}}
{{- $author := default "The Dude" (.Get "author") -}}
<div class="tc mt3 mb0"><blockquote class="blockquote-shortcode dib ph0 pt3 pb0 mb0">
<p class="mt1 mb0 f4">
{{ $quote | emojify | markdownify }}
</p>
<cite class="tr db o-60">— {{ $author }}</cite></blockquote></div>