{{- $string := default "" (.Get 0) -}}
{{- $platform := default "" (.Get 1) -}}
{{- if eq $platform "" -}}
<a class="b code color-inherit bb no-underline" target="_blank" rel="noopener" title="Opens duckduckgo.com in a new tab, searching for: {{ $string }}" href="https://duckduckgo.com?{{ ( querify "q" $string ) | safeURL }}">{{ $string }}</a>
{{- else if eq $platform "twitter" -}}
<a class="b code color-inherit bb no-underline" target="_blank" rel="noopener" title="Opens twitter.com in a new tab, searching for: {{ $string }}" href="https://twitter.com/search?{{ ( querify "q" $string ) | safeURL }}">{{ $string }}</a>
{{- end -}}
