{{- $pillboxStyle := "pillbox cb dib ba pa2 br2 mw-100 tc b bw1 mb2" -}}
<div class="ctf-challenge">
    <div class="{{ $pillboxStyle }} points">
      <span class="db lh-solid">Points: {{ .Params.points }}; Category: {{ .Params.category }}</span>
    </div>
  <div class="clear"></div>
  <div class="contents">
    {{- .Content | .RenderString -}}
  </div>
  <div class="clear"></div>
  <p class="no-select">
    <span class="label">Flag</span>
  </p>
  <div class="clear"></div>
  {{- $flag := default "CTF{flag}" .Params.flag -}}
    <div class="{{ $pillboxStyle }} code flag no-select">
      <span class="db lh-solid">{{ $flag }}</span>
    </div>
</div>